@import "variables";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

img {
  max-width: 100%;
}

body {
  background-color: $clr-primary-900;
  color: $clr-neutral-100;
  font-size: 15px;
  font-family: "Inter", sans-serif;

  .attribution {
    font-size: 11px;
    text-align: center;

    a {
      color: hsl(228, 45%, 44%);
    }
  }
}
